@import url(http://fonts.googleapis.com/css?family=
  Montserrat:400,700);


body {
  color:#555;
  margin: 0;
  font-family: 'Montserrat',sans-serif;
  text-align: justify;
}

#header {

  background-color: #1abc9c;
  height: 150px;
  line-height: 150px;
  text-align: justify;
}
#header-title{

  display: block;
  float: left;
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
}
#header-nav{
  display: block;
  float: right;
  margin-top:0;text-align: justify;
}

#header-nav li {
display: inline;
padding-left: 20px;
text-align: justify;
}
.container{
max-width: 1000px;
margin: 0 auto;
text-align: justify;

}
#header a{
color: white;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.1em;
text-align: justify;
}

#header a:hover {
color: #222;

}

#footer {
background-color: #2f2f2f;
padding: 50px 0;
text-align: justify;
}

.column {
min-width: 300px;
display: inline-block;
vertical-align: top;
text-align: justify;
}
#footer h4{
color: white;
text-transform: uppercase;
letter-spacing: 0.1em;
text-align: justify;
}

#footer p{
color: white;
text-align: justify;

}
a {
color: #1abc9c;
text-decoration: none;
text-align: justify;

}
a:hover {
color: #F6A623
text-align: justify;
}

.post{
max-width: 800px;
margin: 0 auto;
padding: 60px 0;
text-align: justify;
}

.post-author img {
width: 100px;
height: 100px;
vertical-align: middle;
text-align: justify;
}

.post-author span {
margin-left: 16px;
text-align: justify;
}

.post-date{
color: #D2D2D2
font-size: 14px;
font-weight: bold;
text-align: justify;
text-transform: uppercase;
letter-spacing: 0.1em;
}

h1,h2,h3,h4 {
color: #333;
text-align: justify;
}

p{
line-height: 1.5;
text-align: justify;
}

.post, .about{
max-width: 800px;
margin: 0 auto;
padding: 60px 0;
text-align: justify;
}

.about {
text-align: center;

}

.post-author img,
.about-author img {
border-radius: 50%;

}
